body{
  font-family: Arial, sans-serif;
  background:#0f172a;
  color:#e5e7eb;
  display:flex;
  justify-content:center;
  padding-top:60px;
}

.container{
  width:380px;
}

input,button{
  width:100%;
  padding:10px;
  margin-top:10px;
  border-radius:8px;
  border:none;
  font-size:14px;
}

button{
  background:#38bdf8;
  color:#000;
  cursor:pointer;
  font-weight:bold;
}

.card{
  margin-top:20px;
  background:#020617;
  border-radius:14px;
  padding:20px;
  display:flex;
  gap:15px;
  align-items:center;
  box-shadow:0 0 20px rgba(56,189,248,0.3);
}

.avatar{
  width:80px;
  height:80px;
  border-radius:50%;
}

.info{
  flex:1;
}

.name{
  font-size:18px;
  font-weight:bold;
}

.sub{
  opacity:0.7;
  font-size:14px;
  margin-top:4px;
}

.section{
  margin-top:20px;
}

.card-title{
  font-weight:bold;
  margin-bottom:8px;
  opacity:.8;
}

.bar-bg{
  background:#1e293b;
  border-radius:8px;
  overflow:hidden;
}

.bar-fill{
  height:10px;
}
